<!-- <h2>Edit <%= resource_name.to_s.humanize %></h2> -->

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Update Your Profile</h5>
        
          <div class="form-group">
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter your email address here" %>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-group">
            <div class="field">
              <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Enter your new password here" %>
              <% if @minimum_password_length %>
                <br />
                <small id="emailHelp" class="form-text text-muted"><%= @minimum_password_length %> characters minimum</small>
              <% end %>
            </div>
          </div>

          <div class="form-group">
            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Enter your new password again here" %>
            </div>
          </div>

          <div class="form-group">
            <div class="field">
              <%= f.label :current_password %>
              <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", placeholder: "Enter your current password here" %>
              <small id="emailHelp" class="form-text text-muted">We need your current password to confirm your changes</small>
            </div>
          </div>
          
          <div class="form-group">
            <div class="actions">
              <%= f.submit "Update", class: "btn btn-primary"  %>
            </div>
          </div>
        
        <% end %>
        
      </div>
    </div>
  </div>
  
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Cancel my account</h5>
        <p class="card-text">
          If you wish to cancel your account, please click the button below. You will no longer be able to access the system, and will need to re-apply if you wish to have access in the future. This action cannot be undone.
        </p>
        <p><%= button_to "Cancel Account", registration_path(resource_name), class: "btn btn-primary", data: { confirm: "Are you sure?" }, method: :delete %></p>
      </div>
    </div>
  </div>
</div>







