<%= form_with(model: subcontractor, local: true) do |form| %>
  <% if subcontractor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subcontractor.errors.count, "error") %> prohibited this subcontractor from being saved:</h2>

      <ul>
      <% subcontractor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :accountname %>
    <%= form.text_field :accountname %>
  </div>

  <div class="field">
    <%= form.label :tel %>
    <%= form.text_field :tel %>
  </div>

  <div class="field">
    <%= form.label :fax %>
    <%= form.text_field :fax %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
