<div class="row">
  <div class="col">
    <div class="card card-dash-success">
      <div class="card-body">
        You are signed in as:
        </br>
        <%= current_user.email %>
        </br>
        Your last sign in was:
        </br>
        <%= current_user.last_sign_in_at.to_formatted_s(:short) %>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card card-dash-danger">
      <div class="card-body">
        You are signed in as:
        </br>
        <%= current_user.email %>
        </br>
        Your last sign in was:
        </br>
        <%= current_user.last_sign_in_at.to_formatted_s(:short) %>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card card-dash-warning">
      <div class="card-body">
        You are signed in as:
        </br>
        <%= current_user.email %>
        </br>
        Your last sign in was:
        </br>
        <%= current_user.last_sign_in_at.to_formatted_s(:short) %>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card card-dash-info">
      <div class="card-body">
        You are signed in as:
        </br>
        <%= current_user.email %>
        </br>
        Your last sign in was:
        </br>
        <%= current_user.last_sign_in_at.to_formatted_s(:short) %>
      </div>
    </div>
  </div>
</div>
</br>
<div class="row">
  <div class="col">
    <h1>Subcontractors</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Account Name</th>
          <th scope="col">Telephone Number</th>
          <th scope="col">Fax Number</th>
          <th scope="col">Email Address</th>
          <th scope="col" colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @subcontractors.each do |subcontractor| %>
          <tr>
            <td><%= subcontractor.accountname %></td>
            <td><%= subcontractor.tel %></td>
            <td><%= subcontractor.fax %></td>
            <td><%= subcontractor.email %></td>
            <td><%= link_to 'Show', subcontractor %></td>
            <td><%= link_to 'Edit', edit_subcontractor_path(subcontractor) %></td>
            <td><%= link_to 'Destroy', subcontractor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<br>



<%= link_to 'New Subcontractor', new_subcontractor_path %>
