<p id="notice"><%= notice %></p>

<p>
  <strong>Accountname:</strong>
  <%= @subcontractor.accountname %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @subcontractor.tel %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @subcontractor.fax %>
</p>

<p>
  <strong>Email:</strong>
  <%= @subcontractor.email %>
</p>

<%= link_to 'Edit', edit_subcontractor_path(@subcontractor) %> |
<%= link_to 'Back', subcontractors_path %>
